<!DOCTYPE html>
<html>
    <head>
        <title>Calc API - Function: <%= functionName %></title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <h1>Lets get ready to <%= functionName %></h1>

        <form action="" method="post">
            <label>Number 1:</label>
            <input type="number" name="num1" id="num1">
            <label>Number 2:</label>
            <input type="number" name="num2" id="num2">
            <button type="submit">Submit</button>
        </form>
        <footer>
            <p>Go back to the welcome page: <a href="/">HERE</a></p>
        </footer>
    </body>
</html>