<!DOCTYPE html>
<html>
    <head>
        <title>Steven's Calculation API</title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <h1>Welcome to the Calculation API</h1>
        <h2>What would you like to do?</h2>
        <h3>Current Operations</h3>
        <ul>
            <a href="/add"><li><span class="list-spacing"><b>+</b></span> Addition</li></a>
            <a href="/subtract"><li><span class="list-spacing"><b></b>-</b></span> Subtraction</li></a>
            <a href="/multiply"><li><span class="list-spacing"><b></b>X</span> Multiplication</li></a>
            <a href="/divide"><li><span class="list-spacing"><b></b>รท</b></span> Division</li></a>
        </ul>
    </body>
</html>